/* Beginning of main.css file

   main.css file for RWExport-To-HTML.ps1
   by EightBitz
   Version 0.8a
   2017-01-24, 05:00 AM CST
   
   This file must accompany the resulting HTML file
   as it defines the formatting of the HTML file.
   If you know CSS, feel free to modify these definitions
   To your liking.
*/

/* Title */
H1 {
   font-weight:bold;
   color:black;
   letter-spacing:1pt;
   word-spacing:2pt;
   font-size:30px;
   text-align:center;
   font-family:helvetica, sans-serif;line-height:1;
   margin:0px;
   padding:10px;
}

/* Topic Name */
H2 {
   font-weight:bold;
   color:black;
   background-color:#CCCCCC;
   /* color:white;
   background-color:teal; */
   letter-spacing:1pt;
   word-spacing:2pt;
   font-size:25px;
   text-align:left;
   font-family:helvetica, sans-serif;line-height:1;
   margin:0px;
   padding:10px;
}

/* Topic Details (Category, Parent, Linkage, Tags, etc ...) */
H3 {
   font-weight:normal;
   font-family:helvetica, sans-serif;line-height:1;
   font-size: 16px;
   font-style:italic;
   color:black;
   background-color:#CCCCCC;
   /* color:white;
   background-color:blue; */
   padding:10px;
}

/* Section Header */
H4 {
   font-weight:normal;
   text-decoration:underline;
   font-family:helvetica, sans-serif;line-height:1;
   font-size: 20px;
   background:white;
   color: black;
}

/* Snippet Text */
P {
   font-family:helvetica, sans-serif;line-height:1;
   font-size: 16px;
   background:white;
   color:black;
}

/* Bulleted Lists */
UL {
   font-family:helvetica, sans-serif;line-height:1;
   font-size: 16px;
   background:white;
   color:black;
}

/* Numbered Lists */
OL {
   font-family:helvetica, sans-serif;line-height:1;
   font-size: 16px;
   background:white;
   color:black;
}

/* Text in Tables */
TABLE TR TD P {
   font-family:helvetica, sans-serif;line-height:1;
   background:white;
   color:black;
   font-size:16px;
}

/* The following items are for displaying inline stat blocks. */
.StatBlockLink {
   color:#0000FF;
   background-color:transparent;
   font-family:Tahoma;
   font-size:12pt;
   font-weight:normal;
   font-style:normal;
   text-decoration: underline;
}

.StatBlockSnippet {
   color:#000000;
   background-color:transparent;
   font-family:Tahoma;
   font-size:12pt;
   font-weight:normal;
   font-style:normal;
}

.StatBlockDefault {
   text-align:left;
   text-indent:0pt;
   margin:0pt 0pt 0pt 0pt
}

.StatBlockBullet {
   text-align:left;
   text-indent:-7pt;
   margin:0pt 0pt 0pt 7pt}

.StatBlockEnumerated {
   text-align:left;
   text-indent:-12pt;
   margin:0pt 0pt 0pt 12pt
}

.StatBlock-td {
   border-style:solid;
   border-width: 1px; 
   border-color: #a9a9a9;
   padding: 1.5pt 4pt;
}

.StatBlock-tr.naked td {border-style:none;}
.StatBlock-td.left {text-align:left;}
.StatBlock-td.center {text-align:center;}
.StatBlock-td.right {text-align:right;}

.StatBlock-p.footer {margin-left:0.75em;
   text-indent: -0.75em;
   margin-top: 0;
   margin-bottom: 0;
}

.StatBlock-p.smallgap {margin: 3pt 0 0 0;}
.StatBlock-p.mediumgap {margin: 6pt 0 0 0;}
/* End of main.css file */